# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.cs]

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none
